<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password</title>
    <style>
        h2 {
            background-color: rebeccapurple;
        }
    </style>
</head>
<body>
    <h2>hello from forget password</h2>
    <form action="" method="post">
        <label for="email">email</label>
        <input type="email" name="email" id="email">
        <button type="submit">submit</button>
    </form>
</body>
</html>